* {
  box-sizing: border-box;
}
html {
  height: 100vh;
}

body {
  background: url("img/background.png") center/100% 100% no-repeat;
}
button {
  background: tomato;
  border-radius: 5px;
}
i {
  font-size: 100px;
}
#timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer__button {
  padding: 10px 60px;
}
.timer__time {
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
}
.hide {
  display: none;
}
.carrotCount {
  font-size: 80px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin-top: 20px;
}
#result {
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 400px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
}
.displayResult {
  display: flex;
}
#carrot,
#bug {
  top: 0;
  position: absolute;
  display: inline;
}
#carrot img,
#bug img {
  position: absolute;
}

.restart__button {
  padding: 10px;
}
.result__lost {
  font-size: 50px;
  color: white;
}
