* {
  box-sizing: border-box;
}
html {
  height: 100vh;
}

body {
  margin: 0;
  max-height: 1297px;
}
#gameBackground {
  background: url("img/background.png") center/cover no-repeat;
  width: 1200px;
  height: 800px;
  margin: auto;
  margin-top: 100px;
}
button {
  background: tomato;
  border-radius: 5px;
}
i {
  font-size: 100px;
}
#timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer__button {
  padding: 10px 60px;
}
.timer__time {
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
}
.hide {
  display: none;
}
.carrotCount {
  background-color: wheat;
  font-size: 80px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin-top: 20px;
}
#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 400px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
}
.displayResult {
}
#gameField {
  margin-top: 20px;
  width: inherit;
  height: 400px;
  position: absolute;
}
#gameField img {
  position: absolute;
}

.restart__button {
  padding: 10px;
  z-index: 1;
}
.result__lost,
.result__win {
  font-size: 50px;
  color: white;
}
